* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}


.container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.border-Radius {
    border-radius: 15px 15px 0 0;
}

.box-shadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* css for  button hover effect */
button {
    @apply relative overflow-hidden bg-seconderyGreen text-white px-4 py-2  ;
}

button span:first-child {
    @apply absolute bg-seconderyGreen transition-transform overflow-hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out; /* smoother transition */
}

button:hover span:first-child {
    transform: translateX(0);
}

/* =========box-shadow-css ============= */
.effect3 {
    position: relative;
}

.effect3:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0px 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    transform: rotate(-3deg);
}

.green-image{
    filter: invert(100%) brightness(3);
}


 /* product card hover  */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-25px); /* Adjust the value as needed */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
  }


